.SplashScreen {
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: #1C58F2;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    height: 80vh;
    user-select: none;
  }

  h1 {
    margin-top: -3em;
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 720px) {
  .SplashScreen {
    img {
      height: 60vh;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
}